.container{
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
    padding-bottom: 8px;
}
.link{
    color: black;
}
.link:hover{
    color: brown;
}
.reactIcons {
  vertical-align: middle;
  width: 30px;
  height:30px;
}